$primaryFontweight:400;
$primaryFont: 16px;
$family: "rubik";
$upperFontSize:50px;
$color:#4F5665;
$background:#FFF;
$upperfontcolor:#0B132A;
$upperfontweight:500;
$marginsection1: 50px 0;
$primary_line_height:30px;
$marginsection2:70px 0;